---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me - David Del Ser">
	<h1>About Me</h1>
	<p>Hi, I'm David Del Ser.</p>
	<p>
		I'm a software developer interested in building cool things.
		(You can add more details about yourself here!)
	</p>
	<p>
		Find me on <a href="https://github.com/DavidDelSer" target="_blank" rel="noopener noreferrer">GitHub</a>.
	</p>
</Layout>