---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import Layout from '../layouts/Layout.astro';
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<Layout title="Welcome - David Del Ser">
	<h1>Welcome to my Personal Website!</h1>
	<p>
		This site is built with Astro and hosted on GitHub Pages.
	</p>
	<p>
		Explore the site using the navigation above.
	</p>
</Layout>
<style>
  h1 {
    color: orange;
  }
</style>
